version: "3.8"
services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop2.7.4-java8
    container_name: namenode
    restart: always
    environment:
      - CLUSTER_NAME=dqc
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    ports:
      - "50070:50070"
      - "9000:9000"
    volumes:
      - hadoop_namenode:/hadoop/dfs/name

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop2.7.4-java8
    container_name: datanode
    restart: always
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    depends_on:
      - namenode
    ports:
      - "50075:50075"
    volumes:
      - hadoop_datanode:/hadoop/dfs/data

  hive-metastore-postgresql:
    image: bde2020/hive-metastore-postgresql:2.3.0
    container_name: hive-metastore-postgresql
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - hive_metastore_db:/var/lib/postgresql/data

  hive-metastore:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-metastore
    restart: always
    command: /opt/hive/bin/hive --service metastore
    environment:
      - SERVICE_PRECONDITION=namenode:50070 datanode:50075 hive-metastore-postgresql:5432
    depends_on:
      - namenode
      - datanode
      - hive-metastore-postgresql
    ports:
      - "9083:9083"

  hive-server:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-server
    restart: always
    environment:
      - SERVICE_PRECONDITION=hive-metastore:9083
      - HIVE_METASTORE_URI=thrift://hive-metastore:9083
    depends_on:
      - hive-metastore
    ports:
      - "10001:10000"
      - "10002:10002"

  spark-master:
    image: bde2020/spark-master:2.4.0-hadoop2.7
    container_name: spark-master
    restart: always
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    ports:
      - "7077:7077"
      - "8080:8080"

  spark-worker-1:
    image: bde2020/spark-worker:2.4.0-hadoop2.7
    container_name: spark-worker-1
    restart: always
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    depends_on:
      - spark-master
    ports:
      - "8081:8081"

  dolphinscheduler:
    image: apache/dolphinscheduler-standalone-server:latest
    container_name: dolphinscheduler
    restart: always
    environment:
      - TZ=Asia/Shanghai
    ports:
      - "12345:12345"
      - "25333:25333"

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    command: ["--default-authentication-plugin=mysql_native_password"]
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dqc
      MYSQL_USER: dqc
      MYSQL_PASSWORD: dqc
      TZ: Asia/Shanghai
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-proot"]
      interval: 5s
      timeout: 30s
      retries: 20

volumes:
  hadoop_namenode:
  hadoop_datanode:
  hive_metastore_db:
  mysql_data:

